@use './mixins' as *;
@use './typography';

.section-cover-root {
  margin-top: rem(67);
  @include container;
  position: relative;
  display: flex;
  justify-content: space-between;

  @include media(tablet){
    margin-top: rem(80);
    flex-direction: column;
    justify-content: unset;
  }

  @include media(mobile){
    margin-top: rem(56);
  }

  .header-and-cta {
    margin-top: rem(46);
    width: rem(635);
    display: flex;
    flex-direction: column;
    @include media(tablet){
      width: rem(510);
      height: rem(482 - 46);
    }
    @include media(mobile){
      margin-top: 0;
      width: 100%;
      height: auto;
    }
  }

  .pattern-wrapper {
    align-self: flex-end;
    margin-right: rem(59);

    @include media(tablet){
      margin-right: rem(50);
      transform: scale(0.8);
    }

    @include media(mobile){
      margin-right: rem(37);
      transform: scale(0.52);
      transform-origin: bottom right;
    }
   
  }

  .title {
    margin-top: rem(14);
    @include typography.heading-xl;

    @include media(tablet){
      margin-top: rem(11);
    }

    @include media(mobile){
      margin-top: rem(8);
    }
  }

  .description {
    margin-top: rem(40);
    @include typography.body;
    width: rem(350);
    color: $grey;

    @include media(mobile){
      margin-top: rem(32);
    }
  }

  .cta {
    @include size(rem(256), rem(61));
    line-height: rem(61);
    text-align: center;
    background: $dark-blue;
    color: $white-cream;
    font-size: rem(18);
    font-weight: 700;
    border-radius: rem(6);
    margin-top: rem(52);

    @include media(tablet){
      margin-top: rem(40);
    }

    @include media(mobile){
      margin-top: rem(32);
    }

    &:hover{
      background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    }
  }

  .bg-image {
    position: absolute;
    @include size(rem(350), rem(600));
    left: rem(475);
    top: 0;
    background-image: url(path('/assets/image-hero-portrait.png'));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    border-radius: rem(15);

    @include media(tablet){
      left: unset;
      right: 0;
      @include size(rem(281), rem(482));
    }

    @include media(mobile){
      position: static;
      background-image: url(path('/assets/image-hero-landscape.png'));
      @include size(100%, 0);
      padding-bottom: 74.3%;
      margin-top: rem(56);
    }
  }

  .indicator-list {
    margin-top: rem(106);
    display: flex;
    flex-direction: column;
    gap: rem(63);

    @include media(tablet){
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      margin-top: rem(88);
    }

    @include media(mobile){
      flex-direction: column;
      gap: rem(32);
      margin-bottom: rem(56);
    }
  }

  .indicator {
    width: rem(190);
    @include media(tablet){
      display: flex;
      align-items: center;
      flex-direction: column;
      width: rem(223);
    }

    @include media(mobile){
      width: 100%;      
    }
    .quantity {
      @include typography.heading-l;
    }

    .name {
      margin-top: rem(1);
      @include typography.heading-s;
      font-weight: 400;
    }
  }
}
