@use './mixins' as *;
@use './typography';

.section-header-root {
  @include container;
  margin-top: rem(50);
  height: rem(56);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(tablet) {
    margin-top: rem(40);
  }

  @include media(mobile) {
    height: rem(48);
    margin-top: rem(24);
  }

  @include media(small-mobile){
    flex-direction: column;
    gap: rem(16);
  }

  .cta {
    @include size(rem(219), rem(56));
    border: 1px solid $dark-blue;
    line-height: rem(56);
    text-align: center;
    border-radius: rem(6);
    font-weight: 700;
    letter-spacing: -0.16px;
    font-size: rem(16);
    color: $dark-blue;

    &:hover {
      background-color: $dark-blue;
      color: $white-cream;
    }    
  }
}
