@use './mixins' as *;

@mixin heading-xl {
  font-size: rem(72);
  line-height: rem(78);
  letter-spacing: -1px;
  color: $dark-blue;
  font-weight: 400;

  @include media(tablet){
    font-size: rem(56);
    line-height: rem(64);
    letter-spacing: -0.78px;
  }

  @include media(mobile){    
    font-size: rem(38);
    line-height: rem(44);
  }
}

@mixin heading-l {
  font-size: rem(48);
  line-height: rem(56);
  letter-spacing: rem(0.5);
  color: $dark-blue;
  font-weight: 700;
}

@mixin heading-m {
  font-size: rem(18);
  line-height: rem(32);
  letter-spacing: rem(0.2);
  color: $dark-blue;
  font-weight: 700;
}

@mixin heading-s {
  font-size: rem(16);
  line-height: rem(26);
  letter-spacing: rem(2.5);
  color: $dark-blue;
  font-weight: 700;
}

@mixin quote {
  font-size: rem(20);
  line-height: rem(35);
  color: $dark-blue;
  font-weight: 400;
}

@mixin body {
  font-size: rem(18);
  line-height: rem(32);
  color: $dark-blue;
  font-weight: 400;

  @include media(tablet){
    font-size: rem(16);
    line-height: rem(28);
  }
}

@mixin footer {
  font-size: rem(15);
  line-height: rem(32);
  color: $dark-blue;
  font-weight: 400;
}
